// Main application icon
aaaamain            ICON    "opencv.ico"

// Menu/toolbar icons
image_browser_icon  ICON    "image.ico"
image_preview_icon  ICON    "image_search.ico"
properties_icon     ICON    "properties.ico"
log_icon            ICON    "log.ico"
camera_icon         ICON    "camera.ico"

// Button icons
save_icon           ICON    "save.ico"
clear_log_icon      ICON    "log_clear.ico"
play_pause_icon		ICON	"play_pause.ico"
screenshot_icon		ICON	"screenshot.ico"

// Cursors
rotate_cursor       CURSOR  "cursor_rotate.cur"
pan_cursor          CURSOR  "cursor_pan.cur"
zoom_cursor         CURSOR  "cursor_zoom.cur"

// Enable visual styles
#define wxUSE_NO_MANIFEST 0

// wxWidgets standard icons, cursors...
//#include "wx/msw/wx.rc"